<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="pageTitle">Oups ...</ui:define>

	<ui:define name="header">

		<ui:decorate template="/WEB-INF/template/header.xhtml">
		<ui:define name="freelancerHeader"></ui:define>
		<ui:define name="loginHeader"></ui:define>
		</ui:decorate>

	</ui:define>
	
	<ui:define name="content">
<div class="main-container">
		
			
			<section class="no-pad error-page bg-primary fullscreen-element">
				<div class="container align-vertical">
					<div class="row">
						<div class="col-sm-12 text-center">
							<i class="icon icon-compass"></i>
							<h1 class="jumbo">404</h1>
							<h1><strong>Oups !!! We're not able to locate the requested URL.</strong><br/>Sorry, we're working hard to fix this issue. Please move back to our home page</h1>
							<a href="index.html" class="text-white">Back to Home ➞</a><br/>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>
			
		</div>
	</ui:define>
	


</ui:composition>