<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="pageTitle">Please Login ...</ui:define>

	<ui:define name="header">

		<ui:decorate template="/WEB-INF/template/header.xhtml">
		<ui:define name="freelancerHeader"></ui:define>
		<ui:define name="errorHeader"></ui:define>
		</ui:decorate>

	</ui:define>
	
	<ui:define name="content">
<div class="main-container">
			<section class="no-pad login-page fullscreen-element">
			
				<div class="background-image-holder">
					<img class="background-image" alt="Poster Image For Mobiles" src="#{request.contextPath}/resources/img/hero6.jpg"/>
				</div>
			
				<div class="container align-vertical">
					<div class="row">
						<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 text-center">
							<h1 class="text-white">Login to continue</h1>
							<div class="photo-form-wrapper clearfix">
								<h:form id="loginForm">
							
									<p:inputText id="username" required="true" value="#{authentication.login}"
								placeholder="User Name" styleClass="form-email" />
									<p:password redisplay="true" required="true" id="password"
								value="#{authentication.password}" placeholder="Password"
								styleClass="form-password" />
									<h:commandButton action="#{authentication.doLogin}"
							styleClass="login-btn btn-filled" value="Login" />
								</h:form>
							</div><!--end of photo form wrapper-->
							<a href="#" class="text-white">Create an account ➞</a><br/>
							<a href="#" class="text-white">I've forgotten my password</a>
						</div>
					</div><!--end of row-->
				</div><!--end of container-->
			</section>
		</div>
	</ui:define>
	


</ui:composition>