<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>


	<ui:include src="/WEB-INF/template/SignUpImports.xhtml" />

</h:head>
<body>
<div align="center">

	<h:panelGrid>
		<h:form action="#" class="sky-form">

			<header>Registration form</header>

					<fieldset>
						<section>
							<label class="input"> <i class="icon-append icon-user"></i>
								<p:inputText id="firstname" value="#{registration.firstname}"
									placeholder="First Name *" styleClass="login" required="true" 
									requiredMessage="Firsnameis required"  /> <b
								class="tooltip tooltip-bottom-right">Only latin characters
									and numbers</b> <p:growl autoUpdate="true"></p:growl>
							</label>
						</section>


						<section>
							<label class="input"> <i class="icon-append icon-user"></i>
								<p:inputText id="lastname" value="#{registration.lastname}"
									placeholder="Last Name *" styleClass="login"  required="true" 
									requiredMessage="LastName is required"/> <b
								class="tooltip tooltip-bottom-right">Only latin characters
									and numbers</b>
							</label>
						</section>




						<section>
							<label class="input"> <i
								class="icon-append icon-envelope-alt"></i> 
								<p:inputText
									id="email" value="#{registration.email}"
									placeholder="Email address *" 
									styleClass="login" 
									validator="#{uniquemail.validate}"
									required="true"
									 requiredMessage="E_mail required">
									
									<f:validateRegex pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$"/>
									
									</p:inputText> 
									<b
								class="tooltip tooltip-bottom-right">Needed to verify your
									account</b>

							</label>
						</section>



						<section>
							<label class="select"> <select>
									<option value="#{registration.country}" selected="disabled">Country</option>
									<option value="#{registration.country}">Tunisie</option>
									<option value="#{registration.country}">Egypt</option>
									<option value="#{registration.country}">Palastine</option>
									<option value="#{registration.country}">Syria</option>
									<option value="#{registration.country}">Italy</option>
							</select> <i></i>
							</label>
						</section>


						<section class="col col-6">
							<label class="input"> <p:inputText id="city"
									value="#{registration.city}" placeholder="city Name *"
									styleClass="login" />
							</label>
						</section>

						
					</fieldset>


					<fieldset>

						<div class="row">
						
						<h:form enctype="multipart/form-data">
						
						<p:fileUpload fileUploadListener="#{registration.handleFileUpload}"
					allowTypes="/(\.|\/)(gif|jpe?g|png|rar|zip|pdf|java|txt|doc|cs|ppt|pptx)$/" sizeLimit="1000000000"
					description="Select " />
						
					</h:form>	
						
						
						
						</div>


						<!-- <div class="row">
<section>

<h:form>
    <p:messages showDetail="true"/>
    <p:captcha label="Captcha" />
    <p:commandButton value="Check" actionListener="#{captchaView.submit}" 

ajax="false" icon="ui-icon-check"/>
</h:form>


</section>

</div> -->

						<div class="row">


							<section>
								<label class="input"> <i class="icon-append icon-user"></i>
									<p:inputText id="login" value="#{registration.login}"
										placeholder="login *" styleClass="login" required="true" 
									requiredMessage="Login required"/> <b
									class="tooltip tooltip-bottom-right">Only latin characters
										and numbers</b>
								</label>
							</section>
							<section>
								<label class="input"> <i class="icon-append icon-lock"></i>
									<p:password id="password" value="#{registration.password}"
										placeholder="Password *" styleClass="login" required="true" 
									requiredMessage="Password required"/> <b
									class="tooltip tooltip-bottom-right">Only latin characters
										and numbers</b>
								</label>
							</section>



						</div>


						<div class="login-actions">
							<h:commandButton value="Register"
								action="#{registration.doRegister()}"
								styleClass="button btn btn-primary btn-large" />
						</div>

					</fieldset>

		</h:form>








	</h:panelGrid>
</div>
</body>
</html>
