<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="pageTitle">Index</ui:define>

	<ui:define name="header">

		<ui:decorate template="/WEB-INF/template/header.xhtml">
		<ui:define name="loginHeader"></ui:define>
		<ui:define name="errorHeader"></ui:define>
		</ui:decorate>

	</ui:define>
	
	<ui:define name="content">
<div class="main-container">
			<section class="hero-slider">
				<ul class="slides">
				
					<li class="overlay hover-background">
						<div class="background-image-holder">
							<img class="background-image" alt="Background Image" src="#{request.contextPath}/resources/img/layer1.jpg" />
						</div>
				
						<div class="foreground-image-holder layer-1">
							<img class="background-image" alt="Background Image" src="#{request.contextPath}/resources/img/layer2.png" />
						</div>
				
						<div class="foreground-image-holder layer-2">
							<img class="background-image" alt="Background Image" src="#{request.contextPath}/resources/img/layer3.png" />
						</div>
				
						<div class="container align-vertical">
							<div class="row">
								<div class="col-md-6 col-sm-9">
									<h1 class="text-white">Get ready for the launch of our amazing new template Pivot, You will be awed.</h1>
									<a target="_blank" href="http://www.mediumra.re/pivot/variant/builder.html" class="btn btn-primary btn-white">Customize Pivot</a>
									<a href="#" class="btn btn-primary btn-filled">Purchase Pivot</a>
								</div>
							</div>
						</div><!--end of container-->
					</li><!--end of individual slide-->
				
					<li class="overlay">
						<div class="background-image-holder parallax-background">
							<img class="background-image" alt="Background Image" src="#{request.contextPath}/resources/img/hero15.jpg"/>
						</div>
						
						<div class="container align-vertical">
							<div class="row">
								<div class="col-md-6 col-sm-9">
									<h1 class="text-white">Get ready for the launch of our amazing new template Pivot, You will be awed.</h1>
									<a target="_blank" href="http://www.mediumra.re/pivot/variant/builder.html" class="btn btn-primary btn-white">Customize Pivot</a>
									<a href="#" class="btn btn-primary btn-filled">Purchase Pivot</a>
								</div>
							</div>
						</div><!--end of container-->
					</li><!--end of individual slide-->
					
					<!--end of individual slide-->
					
					<li class="overlay">
						<div class="background-image-holder parallax-background">
							<img class="background-image" alt="Background Image" src="#{request.contextPath}/resources/img/hero7.jpg"/>
						</div>
						
						<div class="container align-vertical">
							<div class="row">
								<div class="col-md-6 col-sm-9">
									<h1 class="text-white">Get ready for the launch of our amazing new template Pivot, You will be awed.</h1>
									<a target="_blank" href="http://www.mediumra.re/pivot/variant/builder.html" class="btn btn-primary btn-white">Customize Pivot</a>
									<a href="#" class="btn btn-primary btn-filled">Purchase Pivot</a>
								</div>
							</div>
						</div><!--end of container-->
					</li><!--end of individual slide-->
					
					<li class="overlay">
						<div class="background-image-holder parallax-background">
							<img class="background-image" alt="Background Image" src="#{request.contextPath}/resources/img/hero9.jpg"/>
						</div>
						
						<div class="container align-vertical">
							<div class="row">
								<div class="col-md-6 col-sm-9">
									<h1 class="text-white">Get ready for the launch of our amazing new template Pivot, You will be awed.</h1>
									<a target="_blank" href="http://www.mediumra.re/pivot/variant/builder.html" class="btn btn-primary btn-white">Customize Pivot</a>
									<a href="#" class="btn btn-primary btn-filled">Purchase Pivot</a>
								</div>
							</div>
						</div><!--end of container-->
					</li><!--end of individual slide-->
				</ul>
			</section>
			
			
			
			<style type="text/css">
            .messageInput {
                width:400px;
            }
            
            .publicColumn {
               width:80%;
            }
            
            .usersColumn {
                width:20%;
            }
            
            .vtop {
                vertical-align: top;
            }
            
            .chatlogs {
                height:200px;
                overflow:auto;
                padding: 0.5em 1em 0.5em 0.5em;
            }
            
            .usersList {
                height:200px;
                overflow:auto;
            }
            
            .usersList ul {
                list-style-type: none;
                padding-left:10px;
            }
            
            .usersList ul li {
                margin-bottom: 2px;
            }
            
            .usersList .ui-button-text {
                padding:0;
            }
        </style>
        
        <script type="text/javascript">
            //<![CDATA[
            function handleMessage(data) {
                var chatContent = $(PrimeFaces.escapeClientId('form:public'));
                chatContent.append(data + '<br />');
                
                //keep scroll
                chatContent.scrollTop(chatContent.height());
            }
            //]]>
        </script>
    



			
            
            <p:growl id="growl" showDetail="true" />
            
            <h:form id="form">
                
                <p:fieldset id="container" legend="PrimeChat" toggleable="true">
                    
                    <h:panelGroup rendered="#{chatView.loggedIn}">
                        
                        <h:panelGrid columns="2" columnClasses="publicColumn,usersColumn" style="width:100%">
                            <p:outputPanel id="public" layout="block" styleClass="ui-corner-all ui-widget-content chatlogs"/>
                            
                            <p:dataList id="users" var="user" value="#{chatUsers.users}" styleClass="usersList">
                                <f:facet name="header">
                                    Users
                                </f:facet>

                                <p:commandButton title="Chat" icon="ui-icon-comment" oncomplete="pChat.show()" update=":form:privateChatContainer">
                                    <f:setPropertyActionListener value="#{user}" target="#{chatView.privateUser}" />
                                </p:commandButton>
                                #{user}
                            </p:dataList>
                        </h:panelGrid>
                        
                        <p:separator />
                        
                        <p:inputText value="#{chatView.globalMessage}" styleClass="messageInput" />
                        <p:spacer width="5" />
                        <p:commandButton value="Send" actionListener="#{chatView.sendGlobal}" oncomplete="$('.messageInput').val('').focus()"/>
                        <p:spacer width="5" />
                        <p:commandButton value="Disconnect" actionListener="#{chatView.disconnect}" global="false" update="container" />
                    </h:panelGroup>
                    
                    <h:panelGroup rendered="#{not chatView.loggedIn}" >
                        Username: <p:inputText value="#{chatView.username}" />
                
                        <p:spacer width="5" />
                        <p:commandButton value="Login" actionListener="#{chatView.login}" update="container" 
                                         icon="ui-icon-person" />
                    </h:panelGroup>
                    
                </p:fieldset>
                
                <p:dialog widgetVar="pChat" header="Private Chat" modal="true" showEffect="fade" hideEffect="fade">
                    <h:panelGrid id="privateChatContainer" columns="2" columnClasses="vtop,vtop">
                        <p:outputLabel for="pChatInput" value="To: #{chatView.privateUser}" />
                        <p:inputTextarea id="pChatInput" value="#{chatView.privateMessage}" rows="5" cols="30" />
                        
                        <p:spacer />
                        <p:commandButton value="Send" actionListener="#{chatView.sendPrivate}" oncomplete="pChat.hide()" />
                    </h:panelGrid>
                </p:dialog>
                             
            </h:form>
            
            <p:socket onMessage="handleMessage" channel="/chat" autoConnect="false" widgetVar="subscriber">
                <p:ajax event="message" update=":form:users" />
            </p:socket>
			
			
			
		</div>
	</ui:define>
	
<ui:define name="footer">
		<ui:include src="/WEB-INF/template/footer.xhtml" />
	</ui:define>

</ui:composition>