<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="pageTitle">Index</ui:define>

	<ui:define name="header">

		<ui:decorate template="/WEB-INF/template/header.xhtml">
		<ui:define name="loginHeader"></ui:define>
		<ui:define name="errorHeader"></ui:define>
		</ui:decorate>

	</ui:define>
	
	<ui:define name="content">
<div class="main-container">
			<section class="hero-slider">
				<ul class="slides">
				
					<li class="overlay hover-background">
						<div class="background-image-holder">
							<img class="background-image" alt="Background Image" src="#{request.contextPath}/resources/img/layer1.jpg" />
						</div>
				
						<div class="foreground-image-holder layer-1">
							<img class="background-image" alt="Background Image" src="#{request.contextPath}/resources/img/layer2.png" />
						</div>
				
						<div class="foreground-image-holder layer-2">
							<img class="background-image" alt="Background Image" src="#{request.contextPath}/resources/img/layer3.png" />
						</div>
				
						<div class="container align-vertical">
							<div class="row">
								<div class="col-md-6 col-sm-9">
									<h1 class="text-white">Get ready for the launch of our amazing new template Pivot, You will be awed.</h1>
									<a target="_blank" href="http://www.mediumra.re/pivot/variant/builder.html" class="btn btn-primary btn-white">Customize Pivot</a>
									<a href="#" class="btn btn-primary btn-filled">Purchase Pivot</a>
								</div>
							</div>
						</div><!--end of container-->
					</li><!--end of individual slide-->
				
					<li class="overlay">
						<div class="background-image-holder parallax-background">
							<img class="background-image" alt="Background Image" src="#{request.contextPath}/resources/img/hero15.jpg"/>
						</div>
						
						<div class="container align-vertical">
							<div class="row">
								<div class="col-md-6 col-sm-9">
									<h1 class="text-white">Get ready for the launch of our amazing new template Pivot, You will be awed.</h1>
									<a target="_blank" href="http://www.mediumra.re/pivot/variant/builder.html" class="btn btn-primary btn-white">Customize Pivot</a>
									<a href="#" class="btn btn-primary btn-filled">Purchase Pivot</a>
								</div>
							</div>
						</div><!--end of container-->
					</li><!--end of individual slide-->
					
					<!--end of individual slide-->
					
					<li class="overlay">
						<div class="background-image-holder parallax-background">
							<img class="background-image" alt="Background Image" src="#{request.contextPath}/resources/img/hero7.jpg"/>
						</div>
						
						<div class="container align-vertical">
							<div class="row">
								<div class="col-md-6 col-sm-9">
									<h1 class="text-white">Get ready for the launch of our amazing new template Pivot, You will be awed.</h1>
									<a target="_blank" href="http://www.mediumra.re/pivot/variant/builder.html" class="btn btn-primary btn-white">Customize Pivot</a>
									<a href="#" class="btn btn-primary btn-filled">Purchase Pivot</a>
								</div>
							</div>
						</div><!--end of container-->
					</li><!--end of individual slide-->
					
					<li class="overlay">
						<div class="background-image-holder parallax-background">
							<img class="background-image" alt="Background Image" src="#{request.contextPath}/resources/img/hero9.jpg"/>
						</div>
						
						<div class="container align-vertical">
							<div class="row">
								<div class="col-md-6 col-sm-9">
									<h1 class="text-white">Get ready for the launch of our amazing new template Pivot, You will be awed.</h1>
									<a target="_blank" href="http://www.mediumra.re/pivot/variant/builder.html" class="btn btn-primary btn-white">Customize Pivot</a>
									<a href="#" class="btn btn-primary btn-filled">Purchase Pivot</a>
								</div>
							</div>
						</div><!--end of container-->
					</li><!--end of individual slide-->
				</ul>
			</section>
						<section class="inline-image-right">
				<div class="container">
				<h:form id="jobForm">
					<div class="row">
					
					<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 text-center">
							<h1>#{detailsJob.job.title}</h1>							
						</div>
					
						<div class="col-sm-6 align-vertical no-align-mobile">
							
							<h6><font color="red">Owner:</font> #{detailsJob.job.jobOwner.firstName} #{detailsJob.job.jobOwner.lastName}</h6>
							<h6><font color="red">Description: </font></h6><p class="lead">
								#{detailsJob.job.description}
							</p>
							<h6><font color="red">Price:    </font>#{detailsJob.job.price} $</h6> 
							<p class="lead">
								you still have <p:inplace id="ajax" editor="true">
            <p:inputText value="#{detailsJob.job.duration}" required="true" label="text" />
        </p:inplace> days to complete this job.
							</p>
							<h6><font color="red">Work Load: </font></h6>
							<h:inputText id="number" value="#{detailsJob.job.workLoad}"/>							
							<p:slider for="number" step="10"></p:slider>
							<br/>
							<br/>	
								<h:commandButton action="#{detailsJob.doUpdateJob}" value="Update Job" styleClass="btn btn-primary">		</h:commandButton>							
							</div>
							
						
						<div class="col-sm-6 text-center">
							<img alt="Product Image" class="product-image" src="#{request.contextPath}/resources/Upload/#{detailsJob.job.attachement}"/>
						</div>
							
						
					</div><!--end of row-->
					</h:form>
				</div><!--end of container-->
			</section>
		</div>
	</ui:define>
	
<ui:define name="footer">
		<ui:include src="/WEB-INF/template/footer.xhtml" />
	</ui:define>

</ui:composition>