<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="pageTitle">Index</ui:define>

	<ui:define name="header">

		<ui:decorate template="/WEB-INF/template/header.xhtml">
		<ui:define name="loginHeader"></ui:define>
		<ui:define name="errorHeader"></ui:define>
		</ui:decorate>

	</ui:define>
	
	<ui:define name="content">
<div class="main-container">
			
			<section class="inline-image-right">
			
			<div class="background-image-holder parallax-background">
						<img class="background-image" alt="Background Image" src="#{request.contextPath}/resources/img/slider1.jpg"/>
					</div>
			<div class="container align-vertical">
					
						<div class="body body-s">
			<h:form action="#" class="sky-form">
			<fieldset>
				<section>
					<label class="input"> <i class="icon-append icon-user"></i>
						<p:inputText id="firstname" value="#{UpdateProfile.freelancer.firstName}"
							placeholder="First Name *" styleClass="login" required="true" requiredMessage="Firsnameis required"/> <b
						class="tooltip tooltip-bottom-right">Only latin characters and
							numbers</b>
							<p:growl autoUpdate="true"></p:growl>
					</label>
				</section>


				<section>
					<label class="input"> <i class="icon-append icon-user"></i>
						<p:inputText id="lastname" value="#{UpdateProfile.freelancer.lastName}"
							placeholder="Last Name *" styleClass="login" /> <b
						class="tooltip tooltip-bottom-right">Only latin characters and
							numbers</b>
					</label>
				</section>




				<section>
					<label class="input"> <i
						class="icon-append icon-envelope-alt"></i> <p:inputText id="email"
							value="#{UpdateProfile.freelancer.email}" placeholder="Email address *"
							styleClass="login" /> <b class="tooltip tooltip-bottom-right">Needed
							to verify your account</b>
							
					</label>
				</section>



				<section>
					<label class="select"> <select>
							<option value="#{UpdateProfile.freelancer.country}" selected="disabled">Country</option>
							<option value="#{UpdateProfile.freelancer.country}">Tunisie</option>
							<option value="#{UpdateProfile.freelancer.country}">Egypt</option>
							<option value="#{UpdateProfile.freelancer.country}">Palastine</option>
							<option value="#{UpdateProfile.freelancer.country}">Syria</option>
							<option value="#{UpdateProfile.freelancer.country}">Italy</option>
					</select> <i></i>
					</label>
				</section>


				<section class="col col-6">
					<label class="input"> <p:inputText id="city"
							value="#{UpdateProfile.freelancer.city}" placeholder="city Name *"
							styleClass="login" />
					</label>
				</section>

			</fieldset>

			<fieldset>

				<div class="row">
					<section>
						<h:form enctype="multipart/form-data">
							<p:growl id="message" showDetail="true" />

						<!-- 	<p:fileUpload id="cv" value="#{UpdateProfile.freelancer.cv}"
								styleClass="login" mode="simple" skinSimple="true" /> -->
						</h:form>


					</section>

				</div>


				<!-- <div class="row">
<section>

<h:form>
    <p:messages showDetail="true"/>
    <p:captcha label="Captcha" />
    <p:commandButton value="Check" actionListener="#{captchaView.submit}" 

ajax="false" icon="ui-icon-check"/>
</h:form>


</section>

</div> -->

				<div class="row">


					<section>
						<label class="input"> <i class="icon-append icon-user"></i>
							<p:inputText id="login" value="#{UpdateProfile.freelancer.login}"
								placeholder="login *" styleClass="login" /> <b
							class="tooltip tooltip-bottom-right">Only latin characters
								and numbers</b>
						</label>
					</section>
					<section>
						<label class="input"> <i class="icon-append icon-lock"></i>
							<p:password id="password" value="#{UpdateProfile.freelancer.password}"
								placeholder="Password *" styleClass="login" /> <b
							class="tooltip tooltip-bottom-right">Only latin characters
								and numbers</b>
						</label>
					</section>
					


				</div>


				<div class="login-actions">
					<h:commandButton value="Register"
						action="#{UpdateProfile.doUpdateProfile()}"
						styleClass="button btn btn-primary btn-large" />
				</div>

			</fieldset>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          

		</h:form>
			</div>
			</div>
			</section>
		</div>
	</ui:define>
	
<ui:define name="footer">
		<ui:include src="/WEB-INF/template/footer.xhtml" />
	</ui:define>

</ui:composition>