<!DOCTYPE html>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	template="/WEB-INF/template/template.xhtml">

	<ui:define name="pageTitle">Index</ui:define>

	<ui:define name="header">

		<ui:decorate template="/WEB-INF/template/header.xhtml">
		<ui:define name="loginHeader"></ui:define>
		<ui:define name="errorHeader"></ui:define>
		</ui:decorate>

	</ui:define>
	
	<ui:define name="content">
<div class="main-container">
			<section class="hero-slider">
				<ul class="slides">
				
					<li class="overlay hover-background">
						<div class="background-image-holder">
							<img class="background-image" alt="Background Image" src="#{request.contextPath}/resources/img/layer1.jpg" />
						</div>
				
						<div class="foreground-image-holder layer-1">
							<img class="background-image" alt="Background Image" src="#{request.contextPath}/resources/img/layer2.png" />
						</div>
				
						<div class="foreground-image-holder layer-2">
							<img class="background-image" alt="Background Image" src="#{request.contextPath}/resources/img/layer3.png" />
						</div>
				
						<div class="container align-vertical">
							<div class="row">
								<div class="col-md-6 col-sm-9">
									<h1 class="text-white">Get ready for the launch of our amazing new template Pivot, You will be awed.</h1>
									<a target="_blank" href="http://www.mediumra.re/pivot/variant/builder.html" class="btn btn-primary btn-white">Customize Pivot</a>
									<a href="#" class="btn btn-primary btn-filled">Purchase Pivot</a>
								</div>
							</div>
						</div><!--end of container-->
					</li><!--end of individual slide-->
				
					<li class="overlay">
						<div class="background-image-holder parallax-background">
							<img class="background-image" alt="Background Image" src="#{request.contextPath}/resources/img/hero15.jpg"/>
						</div>
						
						<div class="container align-vertical">
							<div class="row">
								<div class="col-md-6 col-sm-9">
									<h1 class="text-white">Get ready for the launch of our amazing new template Pivot, You will be awed.</h1>
									<a target="_blank" href="http://www.mediumra.re/pivot/variant/builder.html" class="btn btn-primary btn-white">Customize Pivot</a>
									<a href="#" class="btn btn-primary btn-filled">Purchase Pivot</a>
								</div>
							</div>
						</div><!--end of container-->
					</li><!--end of individual slide-->
					
					<!--end of individual slide-->
					
					<li class="overlay">
						<div class="background-image-holder parallax-background">
							<img class="background-image" alt="Background Image" src="#{request.contextPath}/resources/img/hero7.jpg"/>
						</div>
						
						<div class="container align-vertical">
							<div class="row">
								<div class="col-md-6 col-sm-9">
									<h1 class="text-white">Get ready for the launch of our amazing new template Pivot, You will be awed.</h1>
									<a target="_blank" href="http://www.mediumra.re/pivot/variant/builder.html" class="btn btn-primary btn-white">Customize Pivot</a>
									<a href="#" class="btn btn-primary btn-filled">Purchase Pivot</a>
								</div>
							</div>
						</div><!--end of container-->
					</li><!--end of individual slide-->
					
					<li class="overlay">
						<div class="background-image-holder parallax-background">
							<img class="background-image" alt="Background Image" src="#{request.contextPath}/resources/img/hero9.jpg"/>
						</div>
						
						<div class="container align-vertical">
							<div class="row">
								<div class="col-md-6 col-sm-9">
									<h1 class="text-white">Get ready for the launch of our amazing new template Pivot, You will be awed.</h1>
									<a target="_blank" href="http://www.mediumra.re/pivot/variant/builder.html" class="btn btn-primary btn-white">Customize Pivot</a>
									<a href="#" class="btn btn-primary btn-filled">Purchase Pivot</a>
								</div>
							</div>
						</div><!--end of container-->
					</li><!--end of individual slide-->
				</ul>
			</section>
			
			<p:dataTable var="job" value="#{jobsBean.startedJobs}">
    <p:column headerText="Description">
        <h:outputText value="#{job.description}" />
    </p:column>
 
    <p:column headerText="Title">
        <h:outputText value="#{job.title}" />
    </p:column>
 
    <p:column headerText="Duration">
        <h:outputText value="#{job.duration}" />
    </p:column>
 
    <p:column headerText="Attachement">
        <h:outputText value="#{job.attachement}" />
    </p:column>
</p:dataTable>

<section class="projects-gallery">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 text-center">
                <h1>Check out some of my latest work</h1>
                <p class="lead">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta.
                    </p>
            </div>
        </div><!--end of row-->

    </div><!--end of container-->

    <div class="projects-wrapper clearfix">
        <div class="container">
            <div class="row">
                <ul class="filters">
                    <li data-filter="*" class="active">All</li>
                    <li data-filter=".branding">Branding</li>
                    <li data-filter=".development">Development</li>
                    <li data-filter=".print">Print Design</li>
                </ul>
            </div><!--end of row-->
        </div><!--end of container-->

        <div class="container">
            <div class="projects-container column-projects">
<h:form id="jobsForm">
<ui:repeat value="#{jobsBean.startedJobs}" var="job">

            <div class="col-md-4 col-sm-6 project development image-holder">
                        <div class="background-image-holder">
                            <img class="background-image" alt="Background Image" src="#{request.contextPath}/resources/Upload/#{job.attachement}"/>
                        </div>
                        <div class="hover-state">
                            <div class="align-vertical">
                                <h3 class="text-white"><strong>Title</strong> #{job.title}</h3>
                                
                                <h:commandLink action="#{detailsJob.goDetailsJob}" value="See Project" styleClass="btn btn-primary btn-white">
													<f:setPropertyActionListener target="#{detailsJob.job}" value="#{job}" />
												</h:commandLink>
                            </div>
                        </div>
                    </div><!--end of individual project-->
                



        </ui:repeat>   
	</h:form>		
			          </div><!--end of projects-container-->
        </div><!--end of container-->

    </div><!--end of projects wrapper-->

</section>
			
		</div>
	</ui:define>
	
<ui:define name="footer">
		<ui:include src="/WEB-INF/template/footer.xhtml" />
	</ui:define>

</ui:composition>