<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	
	<div class="footer-container">
            <footer class="bg-primary short-2">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="text-white">© 2014 Pivot Inc.</span>
                            <span class="text-white"><a href="#">hello@pivot.net</a></span>
                            <span class="text-white">+614 3827 492</span>
                            <span class="text-white">300 Collins St. Melbourne 3000</span>
                        </div>
                    </div><!--end for row-->
                </div><!--end of container-->

                <div class="contact-action">
                    <div class="align-vertical">
                        <i class="icon text-white icon_mail"></i>
                        <a href="contact.html" class="text-white"><span class="text-white">Get in touch with us <i class="icon arrow_right"></i></span></a>
                    </div>
                </div>
            </footer>
        </div>
	
	</ui:composition>