<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<f:facet name="first">
	<meta charset="utf-8"/>
		<meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	</f:facet>
	<f:facet name="middle">
		<h:outputStylesheet library="css" name="flexslider.min.css" />
		<h:outputStylesheet library="css" name="line-icons.min.css" />
		<h:outputStylesheet library="css" name="elegant-icons.min.css" />
		<h:outputStylesheet library="css" name="lightbox.min.css" />
		<h:outputStylesheet library="css" name="bootstrap.min.css" />
		<h:outputStylesheet library="css" name="theme.css" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700%7CRaleway:700' rel='stylesheet' type='text/css'/>

       <h:outputScript library="js" name="modernizr-2.6.2-respond-1.1.0.min.js" />
		
	</f:facet>
	<f:facet name="last"></f:facet>
</ui:composition>
