<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
	<f:facet name="first">
	
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"/>
		
	</f:facet>
	<f:facet name="middle">
	
	
	
		<link href="#{request.contextPath}/resources/signup/css/demo.css" rel="stylesheet"  />
		<link href="#{request.contextPath}/resources/signup/css/sky-forms.css" rel="stylesheet"  />
	
		
		
	</f:facet>
	<f:facet name="last"></f:facet>
</ui:composition>
