<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">


<h:head>
	<ui:include src="/WEB-INF/template/SignUpImports.xhtml" />
	<ui:include src="/WEB-INF/template/imports.xhtml" />
	<ui:insert name="otherImports"></ui:insert>
	<title><ui:insert name="pageTitle"> Welcome </ui:insert></title>
</h:head>
<body>
	<ui:insert name="header"></ui:insert>
	<ui:insert name="content"></ui:insert>
	<ui:insert name="footer"></ui:insert>
	
	 
		<h:outputScript library="js" name="jquery.min.js" />
		<h:outputScript library="js" name="jquery.plugin.min.js" />
		<h:outputScript library="js" name="bootstrap.min.js" />
		<h:outputScript library="js" name="jquery.flexslider-min.js" />
		<h:outputScript library="js" name="smooth-scroll.min.js" />
		<h:outputScript library="js" name="skrollr.min.js" />
		<h:outputScript library="js" name="spectragram.min.js" />
		<h:outputScript library="js" name="scrollReveal.min.js" />
		<h:outputScript library="js" name="isotope.min.js" />
		<h:outputScript library="js" name="twitterFetcher_v10_min.js" />
		<h:outputScript library="js" name="lightbox.min.js" />
		<h:outputScript library="js" name="jquery.countdown.min.js" />
		<h:outputScript library="js" name="scripts.js" />
</body>
</html>
